.cards-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.card {
  border: 5px solid; 
  border-radius: 20%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.card p{
    color: azure;
}

.card img {
    width: 50%;
    height: auto;
    margin: 1em 0 1em 0
}


.card-icon{
  width: 2em;
  height: 2em;
  margin: 0 1em;
  background-color: var(--code-color1);
  border-radius: 50%;
  padding: 1em;
  color: black;
}
// /////////////////////////////////////
// ////         MEDIA PC         //////
// ////////////////////////////////////

@media screen and (min-width: 1024px) {

  .cards-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
  }

  .card {
    border: 5px solid; 
    border-radius: 15%; /* Réduction du rayon pour un look plus raffiné */
    display: flex;
    flex-direction: column; /* Affichage du contenu des cartes en colonne */
    transition: 0.3s;
    width: 50%; /* Ajustement pour une disposition fluide */;
    padding-bottom: 5.5em;
   
  }

  .card h3{
    font-size: 2em;
  }

  .card:hover{
    transform: scale(1.1); /* Agrandissement de la carte au survol */
    color: var(--code-color5);
  }

  .card h3{
    margin-left: 1em;
  }

  .card p {
    color: azure;
    font-size: 1.2rem; /* Agrandir légèrement le texte */
    text-align: center; /* Centrer le texte */
  }

  .card img {
    width: 100%; /* L'image occupe toute la largeur de la carte */
    height: auto;
    margin: 0em 1em 0em 1em; /* Supprime le margin */
    border-bottom: 2px solid; /* Ajoute une séparation avec le reste de la carte */
  }

  .card div{
    margin-left: 1em;
    margin-right: 1em;
  }


.card-icon{
  width: 2em;
  height: 2em;
  margin: 0 1em;
  background-color: var(--code-color1);
  border-radius: 50%;
  padding: 1em;
  color: black;
}

  .card:hover .icon-cards {
    background-color: var(--code-color5); /* Remplacez par la couleur désirée */
}

}
