.research article{
    display: flex;
}

.btns_case{
    display: flex;
    justify-content: center;
    gap : 2em;

}

@media screen and (min-width: 1024px){
   .btns_case{
    gap : 10em
   }
   }
    
